header
{
    background-color: bisque;
}
nav 
{
    background-color: blanchedalmond;
}
.jobbsav
{
    background-color: cornsilk;
}
.tartalom
{
    background-color: wheat;
}
footer
{
    background-color: antiquewhite;
}

#grid-container
{
    display:grid;
    grid-template-columns: auto;
}
/* mobil */


/* tablet */
@media only screen and (min-width:600px)
{
    footer { background-color: yellow; }
    #grid-container {     grid-template-columns: 25% 75%; }
    header { grid-column: 1 / 3; }
    nav { grid-column: 1 ; }
    .jobbsav { grid-column: 1; }
    .tartalom { grid-column: 2; grid-row: 2 / 4; }
    footer { grid-column: 1 / 3; }
} 

/* monitor */
@media only screen and (min-width:1200px)
{
    #grid-container 
    {     
        width: 1200px; 
        grid-template-columns: 25% 55% 20%;
        margin: auto;
    }

    footer
    { background-color: violet;  }

    header { grid-column: 1 / 4; }
    nav { grid-column: 1 ; }
    .jobbsav { grid-column: 3; }
    .tartalom { grid-column: 2; }
    footer { grid-column: 1 / 4; }
}